main {
	background-image: url('../img/background.svg');
	background-position: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
	user-select: none;
}

p {
	font-size: 50px;
	font-weight: bold;
}

.noDisplay {
	display: none;
}

ul, a {
	margin-top: 40px;
}


@media (max-width: 700px) {
	p{
		font-size: 20px;
	}
	
}