header{
	z-index: 9;
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
	transition: 1s;
}

.gnb {
	display: flex;
	background: #000d18;
	align-items: center;
	transition: 1s;
}

.gnb > img {
	height: 20px;
	margin-left: 20px;
	cursor: pointer;
}

.show {
	top: 0px;
}

.hide {
	top: -52px;
}

nav > ul {
	display: flex;
	padding-left: 30px;
	font-size: 14px;
}

nav > ul > li{
	padding: 16px 30px;
	cursor: pointer;
}

.mega{
	position: absolute;
	left: 0px;
	width: 100%;
	top: 52px;
	height: 0px;
	overflow: hidden;
	background: white;
	color: black;
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 800px;
	transition: 1s;
}

.megaBlue {
	background-image: url('../img/megaBlue.svg');
}

.megaPink {
	background-image: url('../img/megaPink.svg');
}

.mega > h2{
	padding: 70px 0px 0px 110px;
	font-weight: bold;
	font-size: 70px;
}

.mega > p{
	padding-left: 110px;
	font-size: 24px;
}

.mega > h2 > img {
	height: 20px;
	margin-left: 8px;	
}
.mega > img {
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin: 20px;
	height: 10vw;
	opacity: 0.2;
}

nav > ul > li:hover .mega{
	height: 400px;
}

.headerNotice{
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: yellow;
	color: black;
	font-size: 16px;
	height: 40px;
	font-weight: 300;
}

@media (max-width: 350px) {
	header img {
		height: 15px;
	}
}