main {
	background-image: url('../img/background.svg');
	background-position: right;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 100vh;
	user-select: none;
}

.noticeContainer {
	display: flex;
	align-items: center;
	background: #06111c;
	border-radius: 15px;
}

.notice{
	height: 60px;
	width: 800px;
	margin-top: 20px;
	overflow: hidden;
}

.mainNotice{
	height: 200px;
	width: 800px;
	margin-top: 20px;
	
}

.notice > p {
	margin: 0px 25px;
	font-size: 18px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.5)
}

.notice ul {
	position: relative;
	margin: 0px 50px;
	height: 130px;
	font-size: 16px;
	transition: 1s;
	bottom: 0px;
	text-align: left;
}


.notice li {
	margin: 53px 0px;
}

.mainNotice {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mainNotice span{
	margin-left: 50px;
}

.mainNotice p {
	line-height: 40px;
}

.buttonContainer {
	display: flex;
	gap: 20px;
}
.button {
	width: 195px;
	height: 52px;
	background: #b9b9b9;
	color: #000d18;
	font-size: 20px;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	margin-top: 20px;
	display: flex;
}

.refresh {
	background: #06111c;
	color: #bdbdbd;
	width: 120px;
}

.button:hover{
	opacity: 0.8;
	cursor: pointer;
}

.adfit {
	position: absolute;
	bottom: 10px;
}

.available{
	display: flex;
}

.unavailable{
	display: none;
}

hr {
	margin: 20px 0px;
	width: 60%;
	border: 0;
	height: 1px;
	background: #bdbdbd;
}

footer {
	background: #0a0a0a;
	padding: 20px;
	display: flex;
}

footer img{
	height: 50px;
	
}

footer > div{
	display: flex;
	margin-left: 10px;
	align-items: end;
}

footer p {
	font-size: 10px;
}