main {
	text-align: center;
	height: 100svh;
}

.notice{
	width: 700px;
	margin-top: 20px;
	overflow: hidden;
	height: 20px;
}

.mainNotice{
	width: 700px;
	margin-top: 20px;
}

.notice > p {
	margin: 0px 25px;
	font-size: 18px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.5)
}

.notice ul {
	position: relative;
	margin: 0px 30px;
	height: 130px;
	font-size: 16px;
	transition: 1s;
	bottom: 0px;
	text-align: left;
}


.notice li {
	margin: 53px 0px;
}

.mainNotice {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mainNotice span{
	margin-left: 50px;
}

.mainNotice p {
	line-height: 40px;
}

.button {
	background: #b9b9b9;
	color: #000d18;
	font-size: 20px;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	display: flex;
	padding: 10px 20px;
}

.anotherB {
	background: #06111c;
	color: #bdbdbd;
}

.button:hover{
	opacity: 0.8;
	cursor: pointer;
}

.thisTime {
	font-weight: bold;
	color: #8d704f;
}

.thisTime::before {
	content: '▶';
	margin-right: 20px;
}

.thisTime::after {
	content: '◀';
	margin-left: 20px;
}

.mainNotice hr {
	margin: 20px 0px;
	width: 200px;
	border: 0;
	height: 1px;
	background: #091b2c;
}

.phoneContainer {
	display: none;
	align-items: center;
	height: inherit;
}

.phoneNotice {
	font-size: 18px;
	font-weight: bold;
}

.display {
	display: flex;
}

.noDisplay {
	display: none;
}