html, body{
	font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', Sans-serif;
	transition: 1s;
	background: #000d18;
	color: white;
	height: auto;
	user-select: none;
}

body::-webkit-scrollbar {
	display: none;
}


.page {
	display: flex;
	flex-direction: column;
	align-items: center;
}
