html, body{
	font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', Sans-serif;
	transition: 1s;
	background: #000d18;
	color: white;
	height: auto;
	user-select: none;
}

body::-webkit-scrollbar {
	display: none;
}

h1 {
	position: relative;
	top: 80px;
	text-align: center;
}

.container {
	position: relative;
	top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}