html, body{
	font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', Sans-serif;
	transition: 1s;
	background: #000d18;
	color: white;
	height: auto;
	user-select: none;
}

body::-webkit-scrollbar {
	display: none;
}

h1 {
	text-align: center;
	font-size: 32px;
}

.titleContainer{
	position: relative;
	display: flex;
	top: 60px;
	flex-direction: column;
	
}

.container {
	position: relative;
	top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.hanmo span {
	display: flex;
	padding: 0 16px;
	align-items: center;
	justify-content: center;
}

.hanmo img {
	height: 10px;
	
}
.hanmo {
	display: flex;
}

.hanmo > hr{
	width: 100%;
	border: none;
	margin: 10px 0px;
	width: 60%;
	border: 0;
	height: 1px;
	background: #bdbdbd;
}
