html,
body {
  width: 100%;
  margin: 0;
  height: 100vh;
  font-family: 굴림, 'Apple SD Gothic Neo', Sans-serif;
  background-image: url('../img/watermark.png');
  background-size: 250px;
}

/*공용 구간*/
.half {
	display: flex;
	width: auto;
	height: 100%;
}

.navigation {
	display: flex;
	flex-direction: column;
	background-color: #977955;
	height: 100%;
	font-size: 13.4px;
	letter-spacing: 0px;
	color: white;
	width: 220px;
	min-width: 220px;
}

.userInfo {
	background-color: #002d56;
	padding-left: 10px;
	height: 218px;
}

button {
  width: 100%;
  height: 35px;
  padding-left: 10px;
  text-align: left;
  background-color: #977955;
  color: white;
  border-style: hidden;
  font-family: 굴림;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #826648;
}

.noticeButton {
  /*좌측 메뉴 Notice버튼*/
  width: 100%;
  height: 35px;
  padding-left: 10px;
  text-align: left;
  background-color: #818181;
  color: white;
  border-style: hidden;
  font-family: 굴림;
  cursor: pointer;
}

.noticeButton:hover {
  /*좌측 메뉴 Notice버튼 hover*/
  background-color: #5d5d5d;
}

p {
  margin: 0;
  margin-bottom: 12px;
}

h1 {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 22px;
}

.f-dirt-down {
	display: flex;
	flex-direction: column;
}

.f-dirt-up {
	display: flex;
	flex-direction: column-reverse;
	justify-content: bottom;
	align-items: center;
	height: 100%;
}


/*practice.html*/
.mainArea {
	width: 100%;
  /*developer.html, index.html의 오른쪽 부분 구성*/
	display: flex;
	flex-direction: column;
	text-align: center;
}

.timer{
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: solid;
  border-color: #f7f7f7;
  font-size: 100px;
  color: #5D5D5D;
	width: 650px;
  background-color: white;
}

.timerLoc{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	
}

.alert{
	margin-top: 10px;
	color: red;
	font-weight: 900;
	margin-bottom: 0px;
}

.seconds{
  color: #B42949;
}

/*selectZone.html*/
.selectZone_mainArea {
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}


table{
	background-color: white;
}

h2 {
	height: 45px;
	display: flex;
	font-size: 18px;
	margin-bottom: 0;
	color: #ab704f;
	justify-content: center;
	align-items: center;
}

.tableZone{
	width: 95.3%;
}

.menu {
	display: flex;
	justify-content: center;
 	text-align: center;
    background-color: #eaedf4;
	border: 2px solid #003366;
	border-left-style: none;
	border-right-style: none;
    padding: 5px;
    font-size: 13px;
    font-weight: 800;
}


.search {
	margin-left: 14px;
 	text-align: center;
	width: 80px;
	background-color: #3f5a9d;
	color: white;
	height: 24px;
	font-size: 12px;
	border-style: hidden;
	cursor: pointer;
	text-align: center;
	padding: 0;
}

.search:hover {
	background-color: #1f326a;
}


.table{
	visibility: hidden;
}

.vsugangTable {
	display: flex;
	flex-direction: column;
	
	align-items: center;
	margin-top: 65px;
	height: 40vh;
	overflow: auto;
}

.vsugangedTable {
	height: 30vh;
	bottom: 0;
	overflow: auto;
	margin-top: 100px;
}

table {
  border-collapse: collapse;
  width: 100%;
}


td {
  border: 0.1px solid #cccccc;
  height: 26px;
}

th {
  border-top: 2px solid #003366;
  border-bottom: 2px solid #003366;
  border-left: 0.1px solid #cccccc;
  border-right: 0.1px solid #cccccc;
  font-size: 13px;
  height: 31px;
}

.register {
  /*Course_Registeration.html의 REGISTER 버튼*/
  background-image: url('../img/register.png');
  background-repeat: no-repeat;
  border-style: hidden;
  width: 44px;
  height: 16px;
  cursor: pointer;
}

.delete {
  /*DELETE 버튼*/
  background-image: url('../img/delete.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-style: hidden;
  width: 45px;
  height: 15px;
  cursor: pointer;
}

.doneUp {
  color: #ab704f;
  text-align: left;
  font-size: 13px;
}

.waitingArea {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.4);
}

.waiting {
	position: absolute;
	width: 500px;
	justify-content: center;
	align-items: center;
}

.unvisible{
	display: none;
}
